@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Light-blue);
}

.container {
    background: var(--White);
    width: 75%;
    height: 85%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url("../images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    border-radius: 10px;
    height: 100%;
    width: 30%;
}

.options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.options-number {
    background-color: transparent;
    border: 2px solid var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: var(--White);
    font-weight: 700;
    cursor: pointer;
}

.options-number:hover {
    background-color: var(--Light-blue);
    color: var(--Marine-blue);
    border: none;
}

.options-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.options-title p {
    color: var(--White);
    font-weight: 400;
    text-transform: uppercase;
}

.options-title h3 {
    color: var(--White);
    font-weight: 700;
    text-transform: uppercase;
}

.form-main {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-cont {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-title h1 {
    color: var(--Marine-blue);
    font-weight: 700;
}

.form-title p {
    color: var(--Cool-gray);
    font-weight: 400;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputs label {
    color: var(--Marine-blue);
    font-weight: 500;
}

.inputs input {
    border: 1px solid var(--Cool-gray);
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    font-family: inherit;
}

.form-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: var(--Marine-blue);
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    color: var(--White);
    font-weight: 700;
    font-family: inherit
}